.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5969af;
}
body header {
  width: 95%;
  background-color: #ffe4c4;
  min-height: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #main {
  width: 95%;
  background-color: #ffe4c4;
  min-height: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #main section {
  background-color: #5f9ea0;
  width: 95%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer {
  width: 95%;
  background-color: #ffe4c4;
  min-height: 100px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1500px) {
  .section {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 700px) {
  .newSection {
    flex-wrap: wrap;
    background-color: #ffe4c4;
  }
}
