.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a4b89;
}
body img {
  max-width: 300px;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header img {
  margin: 1em;
}
body nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffc0cb;
}
body nav a {
  color: #2a4b89;
  text-decoration: none;
  margin: 0 1em;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .row p {
  width: 300px;
  margin: 1em;
}
body main .reverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 800px) {
  body main .row {
    flex-direction: column;
  }
}
