.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@bg: #2a4b89;
@nav: #ffc0cb;
@800: ~"only screen and (max-width: 800px)";


body {
    .flexcolumn();
    background-color: @bg;

    img {
        max-width: 300px;
    }

    header {
        .flexrow();

        img {
            margin: 1em;
        }
    }
    nav {
        .flexrow();
        background-color: @nav;

        a {
            color: @bg;
            text-decoration: none;
            margin: 0 1em;
        }
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            p {
                width: 300px;
                margin: 1em;
            }
        }
        .reverse {
            flex-direction: row-reverse;
        }
    }
}

@media @800 {
    body {
        main {
            .row {
                flex-direction: column;
            }
        }
    }
}